@use "../foundation/mixin" as *;
@use "../foundation/variables" as *;

.blog-list {
    padding-top: 67px;
    padding-bottom: 70px;

    @include mq($tab) {
        padding-top: 46px;
        padding-bottom: 59px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 70px;

        @include mq($tab) {
            gap: 39px;
            padding: 0 50px;
        }

        @include mq($sp) {
            padding: 0;
        }
    }

    &__item {
        a {
            display: flex;
            gap: 50px;

            @include mq($tab) {
                gap: 30px;
                flex-direction: column;
            }
        }

        h3 {
            font-size: 20px;
            line-height: 25px;

            @include mq($tab) {
                line-height: 30px;
            }
        }

        time {
            display: block;
            font-size: 17px;
            line-height: 30px;
            margin-top: 3px;
            margin-bottom: 11px;

            @include mq($tab) {
                text-align: end;
                margin-top: 6px;
                margin-bottom: 8px;
            }

        }
    }

    &__img {
        position: relative;
        flex-shrink: 0;
        width: calc(260 / 880 * 100%);
        aspect-ratio: 260 / 184;

        .img-label {
            width: 80px;

            @include mq($tab) {
                width: 90px;
            }
        }

        @include mq($tab) {
            width: 100%;
            height: auto;
        }
    }
}