@use "../foundation/mixin" as *;
@use "../foundation/variables" as *;

.blog-details {
    &__wrapper {
        padding-top: 70px;
        padding-bottom: 187px;

        @include mq($tab) {
            padding-top: 50px;
            padding-bottom: 197px;
        }
    }

    &--flex {
        display: flex;
        gap: 31px;

        @include mq($tab) {
            flex-direction: column;
            gap: 30.1px;
        }
    }

    article {
        flex: 1;
    }

    aside {
        flex: 0 0 250px;
    }
}

.post {
    &__thumbnail {
        width: 100%;
        aspect-ratio: 60 / 35;
        position: relative;

        .img-label {
            width: 80px;
        }

        @include mq($tab) {
            aspect-ratio: 335 / 200;

            .img-label {
                width: 90px;
            }
        }
    }

    h1 {
        font-size: 25px;
        line-height: 40px;
        margin-top: 46px;
        margin-bottom: 5px;

        @include mq($tab) {
            font-size: 20px;
            line-height: 30px;
            margin-top: 30px;
            margin-bottom: 6px;
        }
    }

    &__time {
        display: inline-block;
        font-weight: 500;
        font-size: 17px;
        line-height: 30px;
        margin-bottom: 21px;
    }

    &__content {

        h2,
        h3 {
            font-size: 20px;
            line-height: 40px;

            @include mq($tab) {
                line-height: 30px;
            }
        }

        h2 {
            margin-top: 28px;
            margin-bottom: 15px;

            @include mq($tab) {
                margin-top: 39px;
                margin-bottom: 17px;
            }
        }

        h3 {
            margin-top: 43.5px;
            margin-bottom: 17px;
            padding-left: 9.5px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 60%;
                transform: translateY(60%);
                height: 100%;
                width: 3px;
                background-color: black;
            }

            @include mq($tab) {
                margin-top: 50px;
                margin-bottom: 19.5px;
            }
        }

        ul {
            position: relative;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            padding-bottom: 40.5px;

            &::after {
                position: absolute;
                content: "";
                height: 1px;
                width: 100%;
                background-color: black;
                right: 0;
                left: 0;
                bottom: 0;
            }

            @include mq($tab) {
                font-size: 16px;
                padding-bottom: 38.5px;

                &::after {
                    height: 0;
                }
            }
        }

        blockquote {
            display: flex;
            align-items: flex-start;
            gap: 10px;
            background-color: rgba(232, 232, 232, 1);
            padding-left: 67px;
            padding-right: 30px;
            padding-top: 18px;
            padding-bottom: 10px;
            position: relative;

            @include mq($tab) {
                padding-top: 17px;
                padding-bottom: 11px;
                padding-left: 70px;
                padding-right: 20px;
                gap: 17.5px;
            }

            &::before {
                content: "";
                position: absolute;
                z-index: 100;
                top: 20px;
                left: 30px;
                width: 27px; // アイコンのサイズに合わせて調整
                height: 23.8px; // アイコンのサイズに合わせて調整
                background-image: url(../images/icons/icon-blockquote.svg);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        a {
            display: inline-block;
            text-decoration: underline;
            color: rgba(203, 0, 0, 1);
            font-weight: 700;
            font-size: 20px;
            line-height: 33px;
            margin-top: 27px;
            margin-bottom: 54px;

            @include mq($tab) {
                margin-bottom: 45px;
            }
        }

        figure {
            width: 335px;
            height: 200px;
            margin-top: 17px;
            margin-bottom: 28px;

            @include mq($tab) {
                margin-top: 39px;
                margin-bottom: 27px;
            }

            @include mq($sp) {
                width: 100%;
                aspect-ratio: 335 / 200;
            }
        }
    }

    &__nav {
        display: flex;
        gap: 78px;

        a {
            flex: 1;
        }
    }

    &__nav-label {
        display: flex;
        gap: 6px;
        color: white;
        background-color: black;
        padding-top: 4px;
        padding-bottom: 3px;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 17px;
        line-height: 30px;
        white-space: nowrap;

        &--prev {
            padding-left: 20px;
            padding-right: 150px;

            @include mq($tab) {
                padding-right: 46px;
            }
        }

        &--next {
            padding-left: 152px;
            padding-right: 18px;

            @include mq($tab) {
                padding-left: 48px;
            }
        }
    }

    &__nav-info {
        display: flex;
        gap: 16px;
        margin-bottom: 93px;

        p {
            font-weight: 700;
            font-size: 16px;
            line-height: 25px;
        }

        @include mq($tab) {
            margin-bottom: 64px;
        }
    }

    @include mq($tab) {
        gap: 22px;
    }

    &__nav-img {
        width: 98px;
        height: 68px;
        flex-shrink: 0;
        flex-grow: 0;

        @include mq($tab) {
            display: none;
        }
    }

}



.blog-details__sns-list {
    display: flex;
    gap: 3px;
    margin-bottom: 53px;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sns__item {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 40px;
        font-weight: 700;
        font-size: 10px;
        line-height: 1.0;
        color: white;


        a {

            height: 40px;

            @include mq($tab) {
                width: 65px;
            }
        }

        &--facebook {
            background-color: #425893;

            a {
                width: 105px;
                gap: 13.5px;
            }
        }

        &--twitter {
            background-color: #4A9FEB;


            a {
                width: 88px;
                gap: 10px;
            }
        }

        &--hatena {
            background-color: #4A9FEB;


            a {
                width: 93px;
                gap: 11px;
            }


        }

        &--line {
            background-color: #52B534;


            a {
                width: 81px;
                gap: 8.4px;
            }

        }

        &--pocket {
            background-color: #DC4F5A;


            a {
                width: 91px;
                gap: 9.24px;
            }


        }
    }

    @include mq($tab) {
        margin-bottom: 27px;

        span {
            display: none;
        }
    }

}

.related-posts {
    h2 {
        background-color: black;
        color: white;
        font-size: 18px;
        line-height: 33px;
        padding: 9px;
        padding-bottom: 8px;
        padding-left: 30px;
        margin-bottom: 30px;

        @include mq($tab) {
            margin-bottom: 20.6px;
            padding-left: 0;
            text-align: center;
        }
    }
}

.related-posts__list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include mq($tab) {
        gap: 20.7px;
    }
}

.related-posts__item a {
    display: flex;
    gap: 30px;

    @include mq($tab) {
        gap: 20px;
    }
}

.related-posts__img {
    position: relative;
    width: 200px;
    height: 140px;
    flex-shrink: 0;


    .img-label {
        width: 80px;
    }

    @include mq($tab) {
        width: 160px;
        height: 110px;
    }
}

.related-posts__text {
    p {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 13px;

        @include mq($tab) {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            font-size: 17px;
            line-height: 28px;
            margin-top: 8px;
            margin-bottom: 3.9px;
        }
    }

    time {
        font-weight: 500;
        font-size: 17px;
        line-height: 30px;
        padding-left: 5px;

        @include mq($tab) {
            padding-left: 0;
        }
    }
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar__widget {
    h2 {
        background-color: black;
        color: white;
        font-size: 18px;
        line-height: 33px;
        padding-top: 9px;
        padding-bottom: 8px;
        text-align: center;
    }
}

.sidebar__newsletter,
.sidebar__search-form {
    padding: 15px;
    position: relative;
    border-right: 1px solid black;
    border-left: 1px solid black;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: black;
    }

    @include mq($tab) {
        padding: 20px;
    }
}

.sidebar__newsletter-img {

    display: inline-block;
    background-color: rgba(232, 232, 232, 1);
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 33px;

    width: 100%;
    height: 170px;

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @include mq($tab) {
        height: 228px;
    }
}


.sidebar__search-input {
    display: flex;
    height: 40px;

    input {
        background-color: rgba(232, 232, 232, 1);
        flex: 1;
    }

    button {
        background-color: black;
        padding-left: 10px;
        padding-right: 10.2px;

        img {
            width: 19.8px;
            height: 23.32px;

            @include mq($tab) {
                width: 26.23px;
                height: 31.07px;
                flex-shrink: 0;
            }
        }

        @include mq($tab) {
            padding-left: 14px;
            padding-right: 13.77px;
        }
    }

    @include mq($tab) {
        height: 54px;
    }
}

.sidebar__wpp-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include mq($tab) {
        gap: 20.7px;
        margin-top: 18px;
    }
}

.sidebar__wpp-item {

    display: flex;
    gap: 15px;

    @include mq($tab) {
        gap: 20px;

    }

    h3 {
        font-weight: 500;
        font-size: 17px;
        line-height: 28px;

        @include mq($tab) {
            margin-top: 10px;
        }
    }
}

.sidebar__wpp-img {
    width: 95px;
    height: 75px;
    flex-shrink: 0;


    @include mq($tab) {
        width: 160px;
        height: 110px;
    }
}

.sidebar__category-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
}

.cat-item {
    padding-bottom: 7px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: black;
        bottom: 0;
        left: 0;
    }
}