@use "../foundation/mixin" as *;
@use "../foundation/variables" as *;

.img__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(203, 0, 0, 1);
    color: white;
    font-size: 15px;
    line-height: 25px;
    height: 30px;

    &--result-list {
        width: 100px;
    }
}

.fv {
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;

    @include mq($tab) {
        height: 300px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.34);
    }

    h2,
    h1 {
        color: white;
        font-size: 25px;
        line-height: 60px;
        position: relative;
        z-index: 1;
    }

    &--lower {
        padding-top: 74px;
        padding-bottom: 66px;

        @include mq($tab) {
            padding-top: 124px;
            padding-bottom: 116px;
        }
    }

    &--index {
        background-image: url(../images/photo/index__fv.webp);
        padding-top: 185px;
        padding-bottom: 165px;

        @include mq($tab) {
            padding-top: 208px;
            padding-bottom: 192px;
        }

        h2 {
            font-size: 40px;
            line-height: 60px;
        }

        @include mq($tab) {
            background-image: url(../images/photo/index__fv--sp.webp);
            height: 550px;

            h2 {
                font-size: 30px;
                line-height: 50px;
            }
        }
    }


    &--blog-list {
        background-image: url(../images/photo/blog-list__fv.webp);

        @include mq($tab) {
            background-image: url(../images/photo/blog-list__fv--sp.webp);
        }
    }


    &--plan {
        background-image: url(../images/photo/plan__fv.webp);

        @include mq($tab) {
            background-image: url(../images/photo/plan__fv--sp.webp);
        }
    }

    &--contact {
        background-image: url(../images/photo/contact__fv.webp);

        @include mq($tab) {
            background-image: url(../images/photo/contact__fv--sp.webp);
        }
    }

    &--result-list {
        background-image: url(../images/result/result-list__fv.webp);

        @include mq($tab) {
            background-position: 50%;
        }
    }

    &--error {
        background-image: url(../images/photo/404__fv.webp);

        @include mq($tab) {
            background-image: url(../images/photo/404__fv--sp.webp);
        }
    }
}

.section-title {
    text-align: center;
    font-size: 25px;
    line-height: 38px;

    &--blog-list {
        margin-bottom: 38px;

        @include mq($tab) {
            margin-bottom: 39px;
        }
    }

    &--price-struct {
        margin-bottom: 40px;

        @include mq($tab) {
            margin-bottom: 39px;
        }
    }

    &--pricing-plan {
        margin-bottom: 50px;

        @include mq($tab) {
            margin-bottom: 6px;
        }
    }

    &--result-list {
        margin-bottom: 40px;
    }

    @include mq($tab) {
        line-height: 40px;
    }
}

.index__title {
    font-size: 30px;
    line-height: 50px;
    text-align: center;

    @include mq($tab) {
        font-size: 25px;
        line-height: 40px;
    }

    &--appeal {
        color: white;
        margin-bottom: 30px;

        @include mq($tab) {
            margin-bottom: 14px;
        }
    }

    &--reasons {
        margin-bottom: 28px;

        @include mq($tab) {
            margin-bottom: 36px;
        }
    }

    &--testimonial {
        color: white;
        margin-bottom: 36px;

        @include mq($tab) {
            margin-bottom: 39px;
        }
    }

    &--flow {
        margin-bottom: 53px;

        @include mq($tab) {
            margin-bottom: 36px;
        }
    }

    &--faq {
        margin-bottom: 36px;

        @include mq($tab) {
            margin-bottom: 39px;
        }
    }

    &--blog {
        line-height: 45px;
        margin-bottom: 38px;

        @include mq($tab) {
            margin-bottom: 39px;
            line-height: 40px;
        }
    }
}

.btn {
    background-color: rgba(203, 0, 0, 1);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    line-height: 33px;

    &--price-struct {
        width: 210px;
        height: 60px;
        font-size: 20px;
    }

    &--contact-send,
    &--error {
        margin: 0 auto;
    }

    &--submit,
    &--contact-send,
    &--error {
        font-size: 25px;
        line-height: 33px;
        width: 250px;
        height: 50px;

        @include mq($sp) {
            font-size: 20px;
            width: 100%;
        }
    }
}

.contact-cta {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px;
    letter-spacing: 20%;
    width: 300px;
    height: 60px;

    @include mq($tab) {
        right: 50%;
        transform: translateX(50%);
        width: 335px;
    }

    @include mq($sp) {
        width: calc(100% - 40px);
    }
}

.nav-links {
    padding-bottom: 210px;

    @include mq($tab) {
        padding-bottom: 203px;
    }

    ul {
        display: flex;
        justify-content: center;
        gap: 10px;
        list-style: none;
        font-size: 18px;
        line-height: 30px;

        @include mq($tab) {
            gap: 5px;
            font-size: 16px;
            line-height: 28px;

        }

    }

    li {
        text-decoration: none;
        color: black;
        background-color: white;
        transition: 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        font-weight: bold;

        @include mq($tab) {
            width: 44px;
            height: 44px;
        }

        &:hover {
            background-color: #f0f0f0;
        }

        .current {
            background-color: black;
            color: white;
        }

        .dots {
            border: none;
            outline: none;
        }

        span,
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border: 1px solid black;
        }
    }

}