@use "../foundation/mixin" as *;
@use "../foundation/variables" as *;

.post-type-archive-result {
    .fv {
        background-image: url(../images/result/result-list__fv.webp);

        @include mq($tab) {
            background-position: 50%;
        }
    }
}

.result-list {
    padding-top: 65px;
    padding-bottom: 71px;

    .c-section-title {
        margin-bottom: 40px;
    }

    &__list {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        row-gap: 61px;
        column-gap: 106px;

        @include mq($tab) {
            column-gap: 50px;
        }

        @include mq($sp) {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
    }

    &__link {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__img {
        position: relative;
        width: 100%;
        aspect-ratio: 387 / 273;
    }

    &__title {
        font-size: 20px;
        line-height: 25px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__time {
        display: block;
        text-align: end;
        font-size: 18px;
        line-height: 32px;
    }

    .c-img-label {
        width: 100px;
    }
}